@model Perusedit.Models.Category

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Subject/Create/@Model.Id">Add Subject</a>
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>Text</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Subjects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a href="/Subject/Edit/@item.Id">Edit</a>


                |
                <a href="/Subject/Details/@item.Id">Details</a>
                |

                <form action="/Subject/Delete/@item.Id" method="post">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <a onclick="this.parentNode.submit()" style="cursor: pointer">Delete</a>
                </form>

            </td>
        </tr>
    }

</table>
