@model Perusedit.Models.Category
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Subject/Create/@Model.Id">Add Subject</a>
</p>

<div>
    @ViewBag.msg
    <br />
    <br />
</div>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>Text</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Subjects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @if ((System.Web.HttpContext.Current.User.Identity.GetUserId() == item.UserId || System.Web.HttpContext.Current.User.IsInRole("Moderator") || System.Web.HttpContext.Current.User.IsInRole("Admin")) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <a href="/Subject/Edit/@item.Id">Edit</a>
                }


                @*|*@
                <a href="/Subject/Details/@item.Id">Details</a>
                @*|*@

                @if ((System.Web.HttpContext.Current.User.Identity.GetUserId() == item.UserId || System.Web.HttpContext.Current.User.IsInRole("Moderator") || System.Web.HttpContext.Current.User.IsInRole("Admin")) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <form action="/Subject/Delete/@item.Id" method="post">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <a onclick="this.parentNode.submit()" style="cursor: pointer">Delete</a>
                    </form>
                }

            </td>
        </tr>
    }

</table>
