@model Perusedit.Models.Response

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Response")) 
{
<div class="form-horizontal">
    <h4>Response</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="hidden" name="FatherId" value="@ViewBag.Id" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="/Subject/Details/@ViewBag.Sub">Back to Subject</a>
</div>
